TestFacturaElectronica/TestFacturaElectronica.PruebaConsola2/Service References/FactElectWCF/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13143/Service1.svc?xsd=xsd2" namespace="http://ar.gov.afip.dif.FEV1/" />
  <xs:element name="AutorizarConWSAA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_rutaCertificado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_cuit" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizarConWSAAResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfeccionarCabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_cantReg" type="xs:int" />
        <xs:element minOccurs="0" name="_ptoVta" type="xs:int" />
        <xs:element minOccurs="0" name="_cbteTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfeccionarCabeceraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfeccionarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_concepto" type="xs:int" />
        <xs:element minOccurs="0" name="_docTipo" type="xs:int" />
        <xs:element minOccurs="0" name="_docNro" type="xs:long" />
        <xs:element minOccurs="0" name="_cbteFch" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_impTotal" type="xs:double" />
        <xs:element minOccurs="0" name="_impTotConc" type="xs:double" />
        <xs:element minOccurs="0" name="_impNeto" type="xs:double" />
        <xs:element minOccurs="0" name="_impIVA" type="xs:double" />
        <xs:element minOccurs="0" name="_impOpEx" type="xs:double" />
        <xs:element minOccurs="0" name="_impTrib" type="xs:double" />
        <xs:element minOccurs="0" name="_fchServDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_fchServHasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_fchVtoPago" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_monId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_monCotiz" type="xs:double" />
        <xs:element xmlns:q1="http://ar.gov.afip.dif.FEV1/" minOccurs="0" name="_cbtesAsoc" nillable="true" type="q1:ArrayOfCbteAsoc" />
        <xs:element xmlns:q2="http://ar.gov.afip.dif.FEV1/" minOccurs="0" name="_tributo" nillable="true" type="q2:ArrayOfTributo" />
        <xs:element xmlns:q3="http://ar.gov.afip.dif.FEV1/" minOccurs="0" name="_iva" nillable="true" type="q3:ArrayOfAlicIva" />
        <xs:element xmlns:q4="http://ar.gov.afip.dif.FEV1/" minOccurs="0" name="_opcionales" nillable="true" type="q4:ArrayOfOpcional" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfeccionarDetalleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizarFactura">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizarFacturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerRespuesta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerRespuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://ar.gov.afip.dif.FEV1/" minOccurs="0" name="LeerRespuestaResult" nillable="true" type="q5:FECAEResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>