TestFacturaElectronica/PruebaConsola/Service References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/TestFacturaElectronica/WebService/WebService1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/TestFacturaElectronica/WebService/WebService1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Descripcion</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/TestFacturaElectronica/WebService/WebService1">
      <s:element name="ObtenerCAE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="factura" type="tns:Factura" />
            <s:element minOccurs="1" maxOccurs="1" name="cuit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Factura">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CantRegistros" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PuntoVenta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoComprobante" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalleFactura" type="tns:ArrayOfDetalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDetalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Detalle" nillable="true" type="tns:Detalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Detalle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Concepto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocTipo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocNro" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaComp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ImporteTotal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImporteTotalConc" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImporteNeto" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImporteIVA" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImporteOpExento" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImporteTrib" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaServDesde" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaServHasta" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaVtoPago" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MonedaId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MonedaCotiz" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CbtesAsoc" type="tns:ArrayOfCbteAsoc" />
          <s:element minOccurs="0" maxOccurs="1" name="Tributos" type="tns:ArrayOfTributo" />
          <s:element minOccurs="0" maxOccurs="1" name="Iva" type="tns:ArrayOfAlicIva" />
          <s:element minOccurs="0" maxOccurs="1" name="Opcionales" type="tns:ArrayOfOpcional" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCbteAsoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CbteAsoc" nillable="true" type="tns:CbteAsoc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CbteAsoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PtoVta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Nro" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:complexType name="ArrayOfTributo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tributo" nillable="true" type="tns:Tributo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tributo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BaseImp" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Alic" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Importe" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAlicIva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AlicIva" nillable="true" type="tns:AlicIva" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AlicIva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BaseImp" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Importe" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOpcional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Opcional" nillable="true" type="tns:Opcional" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Opcional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerCAEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCAEResult" type="tns:FECAEResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FECAEResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="FeCabResp" type="tns:FECAECabResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="FeDetResp" type="tns:ArrayOfFECAEDetResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="Events" type="tns:ArrayOfEvt" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErr" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FECAECabResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:FECabResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FECabResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Cuit" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PtoVta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteTipo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FchProceso" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CantReg" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reproceso" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFECAEDetResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FECAEDetResponse" nillable="true" type="tns:FECAEDetResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FECAEDetResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:FEDetResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CAE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CAEFchVto" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FEDetResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Concepto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocTipo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocNro" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteDesde" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteHasta" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CbteFch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="tns:ArrayOfObs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfObs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Obs" nillable="true" type="tns:Obs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Obs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEvt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Evt" nillable="true" type="tns:Evt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Evt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfErr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Err" nillable="true" type="tns:Err" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Err">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerCAESoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCAE" />
  </wsdl:message>
  <wsdl:message name="ObtenerCAESoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCAEResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ObtenerCAE">
      <wsdl:input message="tns:ObtenerCAESoapIn" />
      <wsdl:output message="tns:ObtenerCAESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCAE">
      <soap:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/ObtenerCAE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCAE">
      <soap12:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/ObtenerCAE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Descripcion</wsdl:documentation>
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:2012/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:2012/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>