TestFacturaElectronica/PruebaConsola/Service References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/TestFacturaElectronica/WebService/WebService1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/TestFacturaElectronica/WebService/WebService1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/TestFacturaElectronica/WebService/WebService1">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizarConWSAA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rutaCertificado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cuit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizarConWSAAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutorizarConWSAAResult" type="tns:ServFactElect" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServFactElect">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FServ" type="tns:ServiceSoapClient" />
          <s:element minOccurs="0" maxOccurs="1" name="Autorizacion" type="tns:FEAuthRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:FECAERequest" />
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:FECAEResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="CabeceraFactura" type="tns:FECAECabRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalleFactura" type="tns:ArrayOfFECAEDetRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjAutorizacion" type="tns:Autorizacion" />
          <s:element minOccurs="1" maxOccurs="1" name="UltimoElementoArrayDetalle" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceSoapClient">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClientBaseOfServiceSoap" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClientBaseOfServiceSoap" abstract="true" />
      <s:complexType name="FEAuthRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cuit" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:complexType name="FECAERequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="FeCabReq" type="tns:FECAECabRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="FeDetReq" type="tns:ArrayOfFECAEDetRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FECAECabRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:FECabRequest" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FECabRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="CantReg" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PtoVta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteTipo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFECAEDetRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FECAEDetRequest" nillable="true" type="tns:FECAEDetRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FECAEDetRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:FEDetRequest" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FEDetRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Concepto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocTipo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocNro" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteDesde" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteHasta" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CbteFch" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImpTotal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImpTotConc" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImpNeto" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImpOpEx" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImpTrib" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ImpIVA" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="FchServDesde" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FchServHasta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FchVtoPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MonId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MonCotiz" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CbtesAsoc" type="tns:ArrayOfCbteAsoc" />
          <s:element minOccurs="0" maxOccurs="1" name="Tributos" type="tns:ArrayOfTributo" />
          <s:element minOccurs="0" maxOccurs="1" name="Iva" type="tns:ArrayOfAlicIva" />
          <s:element minOccurs="0" maxOccurs="1" name="Opcionales" type="tns:ArrayOfOpcional" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCbteAsoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CbteAsoc" nillable="true" type="tns:CbteAsoc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CbteAsoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PtoVta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Nro" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTributo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tributo" nillable="true" type="tns:Tributo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tributo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BaseImp" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Alic" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Importe" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAlicIva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AlicIva" nillable="true" type="tns:AlicIva" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AlicIva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BaseImp" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Importe" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOpcional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Opcional" nillable="true" type="tns:Opcional" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Opcional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FECAEResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="FeCabResp" type="tns:FECAECabResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="FeDetResp" type="tns:ArrayOfFECAEDetResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="Events" type="tns:ArrayOfEvt" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErr" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FECAECabResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:FECabResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FECabResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Cuit" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PtoVta" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteTipo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FchProceso" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CantReg" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reproceso" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFECAEDetResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FECAEDetResponse" nillable="true" type="tns:FECAEDetResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FECAEDetResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:FEDetResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CAE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CAEFchVto" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FEDetResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Concepto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocTipo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocNro" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteDesde" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="CbteHasta" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CbteFch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="tns:ArrayOfObs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfObs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Obs" nillable="true" type="tns:Obs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Obs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEvt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Evt" nillable="true" type="tns:Evt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Evt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfErr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Err" nillable="true" type="tns:Err" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Err">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Autorizacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="servicioWsaa" type="tns:LoginCMSClient" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketAccesoTemplateXml" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UniqueId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="GenerationTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Service" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sign" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlTicketAccesoRequest">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="XmlTicketAccesoResponse">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="RutaCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CmsFirmadoBase64" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlServicio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoginCMSClient">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClientBaseOfLoginCMS" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClientBaseOfLoginCMS" abstract="true" />
      <s:element name="ConfeccionarCabecera">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_cantReg" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_ptoVta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_cbteTipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_servicioFacturacion" type="tns:ServFactElect" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfeccionarCabeceraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfeccionarCabeceraResult" type="tns:ServFactElect" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizarFactura">
        <s:complexType />
      </s:element>
      <s:element name="AutorizarFacturaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AutorizarConWSAASoapIn">
    <wsdl:part name="parameters" element="tns:AutorizarConWSAA" />
  </wsdl:message>
  <wsdl:message name="AutorizarConWSAASoapOut">
    <wsdl:part name="parameters" element="tns:AutorizarConWSAAResponse" />
  </wsdl:message>
  <wsdl:message name="ConfeccionarCabeceraSoapIn">
    <wsdl:part name="parameters" element="tns:ConfeccionarCabecera" />
  </wsdl:message>
  <wsdl:message name="ConfeccionarCabeceraSoapOut">
    <wsdl:part name="parameters" element="tns:ConfeccionarCabeceraResponse" />
  </wsdl:message>
  <wsdl:message name="AutorizarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:AutorizarFactura" />
  </wsdl:message>
  <wsdl:message name="AutorizarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:AutorizarFacturaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutorizarConWSAA">
      <wsdl:input message="tns:AutorizarConWSAASoapIn" />
      <wsdl:output message="tns:AutorizarConWSAASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfeccionarCabecera">
      <wsdl:input message="tns:ConfeccionarCabeceraSoapIn" />
      <wsdl:output message="tns:ConfeccionarCabeceraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutorizarFactura">
      <wsdl:input message="tns:AutorizarFacturaSoapIn" />
      <wsdl:output message="tns:AutorizarFacturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizarConWSAA">
      <soap:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/AutorizarConWSAA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfeccionarCabecera">
      <soap:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/ConfeccionarCabecera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizarFactura">
      <soap:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/AutorizarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizarConWSAA">
      <soap12:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/AutorizarConWSAA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfeccionarCabecera">
      <soap12:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/ConfeccionarCabecera" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutorizarFactura">
      <soap12:operation soapAction="http://tempuri.org/TestFacturaElectronica/WebService/WebService1/AutorizarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:2012/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:2012/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>